
.container {
  max-width: 420px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #090000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;

   position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container h2{
  text-align: center;
}
.form {
  display:flex;
  flex-direction: column;
}

.input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}
.input::placeholder {
  font-size: 14px;
  font-style: italic;
  color: #888;
}


.button {
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
